
.header {
    box-sizing: border-box;
    margin: 1em 1em 0 1em;
    padding: 10px;
    background-color: #9370DB;
    color: white;
} 

ul {
    list-style-type: none;
    margin: 1em 1em 0 1em;
    padding: 0;
    width: 200px;
    background-color: #E6E6FA;
    text-transform: uppercase;
}

li>a {
    display: block;
    color: #4B0082;
    padding: 8px 17px;
    text-decoration: none;
}

li>a:hover {
    background-color: #7B68EE;
    color: white;
}
.main {
    justify-content: right; 
}


.featured-image-container {
   text-align: center;
}
.box {
    justify-content: center;
    width: 200px;
    height: 150px;
}

.quote {
    color: purple;
    font-size: 30px;
    text-emphasis: bold;
}

.paragraph {
    text-align: center;
    text-size-adjust: 5000px;
    font-weight: bold;
    color: #4B0082;
}

.about {
    font-size: 60px;
}

.title {
    text-align: center;
    color: #4B0082;
    font-size: 30px;
}

.main2 {
    text-align: center;
    justify-content: right;
    font-size: 30px;
}

.paragraph3 {
    color: #4B0082;
    font-size: 30px;
}

.form-input {
    border: 2px solid plum;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    flood-color: #4B0082;  
}

.form-input:focus {
    outline: none;
    border: 3px solid #9370DB;
}

[type="submit"] {
    background: #9370DB;
    color: white;
    width: 15%;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    padding: .2em;
   
}

[type="submit"]:hover,
[type="submit"]:focus {
    background: #7B68EE;
    border: 2px solid plum;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    flood-color: #4B0082; 
}

.textarea {
    height: 150px;
    resize: vertical;
    border: 2px solid plum;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    flood-color: #4B0082; 
}

label {
    display: block;
    font-weight: 500;
}

form {
    width: 100%;
    margin: 2em auto;
    font-size: 20px;
    color: #4B0082;
    text-transform: uppercase;
}

footer {
    margin: 1em 1em 0 1em;
    padding: 50px;
    background-color: #9370DB;
    color: white;
}